#main {
  background: #eee;
  margin: 35px auto;
  padding: 35px;
  border: 0px solid;
  border-radius: 5px;
}

body {
  text-align: center;
}

#tribute-quote {
  font-style: italic;
}

#tribute-info {
  text-align: left;
  margin-left: .5em;
  margin-right: .5em;
}

li {
  text-align: left;
  margin-left: 3em;
  margin-right: 3em;
  padding-top: 8px;
}


#image {
  height: auto;
  margin: auto;
  max-width: 100%;
  display: block;
}
